In [2]:
import pandas as pd

df = pd.read_csv("asn-ipv4.csv", header=None)

first_column = df.iloc[:, 0]

Ip_Regions = {}

for ip in first_column:
    region = ip.split(".")[:2]
    region = ".".join(region)
    if region not in Ip_Regions:
        Ip_Regions[region] = 1
    else:
        Ip_Regions[region] += 1

# Convert the dictionary to a DataFrame and display as a table
region_df = pd.DataFrame(list(Ip_Regions.items()), columns=["Region", "Count"])
display(region_df)

        Region  Count
0          1.0      6
1          1.1      4
2          1.2      4
3          1.4      1
4          1.5      1
...        ...    ...
27261  223.247     10
27262  223.248      1
27263  223.252     10
27264  223.253      1
27265  223.255     14

[27266 rows x 2 columns]